* {
  margin: 0;
  padding: 0;
}

html, body {
  box-sizing: border-box;
  background-color: #f2f2f2;
}
/* Handle Font and Color */
.navbar-section, .pricing-section .card-body, .funfact-section h1, .contact-section p, .phone a, .email a{
  font-family: "Roboto", sans-serif;
}
.hero-section,
.pricing-section .card-header, h1,
.domain-features h1, h4, .funfact-section h5, .offers h3, a, .choose-section h3, h5, #subscribe, .copyright{
  font-family: "PT Serif", serif;
}
.bg-primary-light {
  background-color: #119ee6;
}
.primary-light {
  color: #119ee6;
}
.gray-dark{
  color: #aaaaaa;
}
.fw-medium{
  font-weight: 500;
}
/* Services */
.services-section .icon {
  position: absolute;
  top: -30px;
}

@media only screen and (max-width: 1000px) {
  .services-section .icon {
    position: relative;
  }
}

/* Domain */
.domain-section {
  height: 570px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.93), rgba(0, 0, 0, 0.93)),
    url("images/domain-bg.png");
  color: #ffffff;
  font-family: "PT Serif", serif;
  overflow: hidden;
}

.domain-area {
  max-width: 50%;
}

@media only screen and (max-width: 768px) {
  .domain-area {
    max-width: 80%;
  }
}
/* Funfact */
.funfact-section {
  height: 320px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.96), rgba(0, 0, 0, 0.96)),
    url("images/domain-bg.png");
  color: #ffffff;
  overflow: hidden;
}

/* Why Choose Us */
.number-shadow{
  position: relative;
  top: 60px;
  opacity: 0.1;
}

/* Review */
.review-section .quotes, .stars{
  position: relative;
  top: -27px;
}

.footer-section ul li a {
  position: relative;
  padding-left: 23px;
}

.footer-section ul li a::after {
  content: "\f0a4";
  font-family: "FontAwesome";
  left: 0;
  position: absolute;
  font-size: 14px;
}
