.navbar-section, .pricing-section .card-body, .funfact-section h1, .contact-section p{
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #f2f2f2;
  
}
.hero-section,
.pricing-section .card-header, h1,
.domain-features h1, h4, .funfact-section h5, .offers h3, a, .choose-section h3, h5, #subscribe, .copyright{
  font-family: "PT Serif", serif;
}
.bg-primary-light {
  background-color: #119ee6;
}
 
.services-section .icon {
  position: relative;
  top: -22%;
}
.domain-section {
  height: 570px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.93), rgba(0, 0, 0, 0.93)),
    url("images/domain-bg.png");
  color: #ffffff;
  font-family: "PT Serif", serif;
  overflow: hidden;
}
.search-from {
  border: 100px solid #119ee6;
  z-index: 9;
}

.funfact-section {
  height: 309px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.96), rgba(0, 0, 0, 0.96)),
    url("images/domain-bg.png");
  color: #ffffff;
  overflow: hidden;
}

.plan-icon{
  position: absolute;
  bottom: 2%;
}

.xyz{
  background-color: color: #ffffff;
}
.fw-medium{
  font-weight: 500;
}

.number-shadow{
  position: relative;
  top: 60px;
  opacity: 0.1;
}
.review-section .quotes, .stars{
  position: relative;
  top: -27px;
}